/* $color-iris: rgba(77,90,229,1); 


$color-ocean: rgba(64,75,191,1);
$color-navy-blue: rgba(46,47,66,1);
$color-green: rgba(49,208,170,1);
$color-slate: rgba(67,68,85,1);
$color-light-slate: rgba(142,143,153,1);
$color-cornflower: rgba(231,233,252,1);
$color-cloud: rgba(244,244,253,1);
$color-navy-blue-modal: rgba(46,47,66,0.400);
$color-grey: rgba(46,47,66,0.700);
$color-white: rgba(255,255,255,1);
$color-dairy: rgba(252,252,252,1);
@mixin text-style-header-1() {

*/
:root {
  --main-txt-cl: #434455;
  --secondary-txt-cl: #2e2f42;
  --focused-txt-cl: #4d5ae5;
  --footer-txt-cl: rgba(244, 244, 253, 1);
  --hero-txt-color: #fff;
  --accent-txt-color: #e7e9fc;
  --hover-txt-color: #404bbf;
  /* Bg colors */
  --main-bg-cl: #fcfcfc;
  --secondary-bg-cl: rgba(244, 244, 253, 1);
  --accent-bg-cl: #4d5ae5;
  --footer-bg-cl: #2e2f42;
  --focused-bg-cl: #404bbf;
  /* Common colors */

  /* fonts */
  --secondary-font: "Raleway", sans-serif;
  --primary-font: "Roboto", sans-serif;
  /* Text colors */

  /* Bg colors */

  /* Common colors */

  /* Others */

  /* $color-ocean: rgba(64, 75, 191, 1); 
  $color-navy-blue: rgba(46, 47, 66, 1);
  $color-green: rgba(49, 208, 170, 1);
  $color-slate: rgba(67, 68, 85, 1);
  $color-light-slate: rgba(142, 143, 153, 1);
  $color-cornflower: rgba(231, 233, 252, 1);
  $color-cloud: rgba(244, 244, 253, 1);
  $color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  $color-grey: rgba(46, 47, 66, 0.7);
  $color-white: rgba(255, 255, 255, 1);
   $color-dairy: rgba(252, 252, 252, 1); */
}
body {
  font-family: var(--primary-font);
  color: var(--main-txt-cl);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #fff;
}
/* reset  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

/* main classes-start */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid orange;
}
.section{
  padding-bottom: 120px;
}

/* heading text  */
.portfolio-heading,
.main-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}
/* p text  */
.portfolio-text,
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* logo styles */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--focused-txt-cl);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--secondary-txt-cl);
}

/* header styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-nav,
.section-nav {
  align-items: center;

  list-style: none;
  display: flex;
}
.nav-container {
  display: flex;
  text-align: center;
  gap: 40px;
  margin: auto;
}
.address-container {
  display: flex;
  gap: 40px;
}
.nav-item {
}
.contacts-font-style {
  font-style: normal;
}

.contacts-item {
}

.link-styles {
  color: var(--secondary-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.adress-styles {
  color: var(--main-txt-cl);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
}

.link-styles:hover,
.link-styles:focus {
  color: var(--hover-txt-color);
  text-decoration: underline;
}

.adress-styles:hover,
.adress-styles:focus {
  color: var(--hover-txt-color);
}

/* hero styles */
.hero-section {
  background-color: var(--footer-bg-cl);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-bottom: 148px;
}
.hero-title {
  color: var(--hero-txt-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align:center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-size: var(--main-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-txt-color);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
  font-family: var(--primary-font);

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--focused-bg-cl);
}
/* we are  */

.section-list {
  display: flex;
  column-gap: 24px; 
}
.we-are-h,
.team-h{
  margin-bottom: 8px;
}
.list-item {
}
/* what we are doing  */
.section-what-we-are-doing {
}
.main-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/* our team  */
.section-our-team {
  background-color: var(--secondary-bg-cl);
}
.team-bg-clr {
  background-color: #fff;
}
.team-name-container{
 padding: 32px 16px; 
}
.section-undertitle {
}
/* footer */
.footer-studio {
  color: var(--footer-txt-cl);
}
.text-footer {
  color: #f4f4fd;
  width: 264px;
}
.footer-logo{
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--focused-txt-cl);
  letter-spacing: 0.03em;
  text-transform: uppercase;



}
 .footer-h{
  margin-bottom:16px;

} 
/* main-classes-end */

/* portfolio-classes-start */

.portfolio-footer,
.main-footer-section {
  background-color: var(--footer-bg-cl);
  padding-top: 100px;
  padding-bottom:100px;
}

.section-filters {
}
.filters-list {
}
.filters-item {
}
.filters-button {
  background-color: var(--secondary-bg-cl);
  color: var(--focused-txt-cl);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  color: var(--hero-txt-color);
  background-color: var(--focused-bg-cl);
}
.portfolio-section {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-link {
}

/* portfolio classes end */
